.logInSignUpBackground {
  background-color: #f7f9fc;
  height: 93vh;
  padding-top: 100px;
  box-sizing: border-box;
}

.logInSignUpContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin: auto;
  border-radius: 10px;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logInSignUpForm {
  display: flex;
  flex-direction: column;
}

.logInSignUpField {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.logInSignUpField input {
  height: 40px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.logInSignUpField input:focus {
  outline: none;
}

.submitButton {
  height: 40px;
  width: 300px;
  border: none;
  background-color: rgba(216, 22, 57, 1);
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 5px;
}
